.container-fluid
  .row.header
    %ul
      = image_tag 'logo.jpg', height: "100%", class: "header_logo"
      %li 店舗紹介
      %li イベント
      %li ブログ
      %li スペシャル
  .row
    .header_image
      %h2.zousan カナマチ
      %h3.zousan ショクブンカ
  .row
    .col-md-12
      = image_tag 'food.jpg', width: "90%", class: "top-image text-center"

  .row
    .col-md-4
      = image_tag 'gyoza.jpg', height: "50%"
    .col-md-4
      = image_tag 'gyoza.jpg', height: "50%"
    .col-md-4
      = image_tag 'gyoza.jpg', height: "50%"
